home/.nvim/options.local.vim
home/.nvimrc.local
home/.nvim/dict.custom.utf8-8.add.spl
nvim/undo*

*.swp
# Created by https://www.gitignore.io/api/vim
*.log

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

*.orig
*.old
*.bak

.ropeproject/*
jal*

